body{
  padding: 20px;
}
input[type="checkbox"]{
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
input[type="checkbox"]:checked + label{
  text-decoration: line-through;
  color: gray;
}